<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>dashboard</title>
</head>
<body>
{% block test %}
     <form
</body>
</html>
<label style="margin-top: 10px;"><b style="margin-right: 190px">First name:</b></label><br><input type="text" name="urname"placeholder="Enter 1st name"><br>
                    <label style="margin-top: 10px;"><b style="margin-right: 150px">phone number:</b></label><br><input type="text" name="number" placeholder="Enter phone number"><br>
                    <label style="margin-top: 10px;"><b style="margin-right: 190px">location:</b></label><br><input type="text" name="name" placeholder="Enter your location"><br>
                    <label style="margin-top: 10px;"><b style="margin-right: 190px">Email:</b></label><br><input type="email" name="email" placeholder="Enter your email address"><br>
                    <label style="margin-top: 10px;"><b style="margin-right: 190px">Age:</b></label><br><input type="number" name="age" placeholder="Enter your age"><br>
                    <label style="margin-top: 10px;"><b>Mode of payment:</b></label>
                <select name="name" style="margin-top: 10px;">
                    <option>Mpesa</option>
                    <option>Debit card</option>
                    <option>Cash</option>
                    <option>Paypal</option>

                </select><br>
                    <label><b>answered all above queries:</b></label>
                    <input type="checkbox" name="name" placeholder="what"><br>
                    <input type="submit" name="savedata">