{% extends 'base.html'%}
{% block head %}
<h1>registration page</h1>
{% endblock %}

              {% block list1%}
                 <a class="nav-link" href="#">patel</a>
                   {% endblock %}
               </li>
               <li class="nav-item  ms-4">
                   {% block list %}
                 <a class="nav-link" href="#">About patel</a>
                   {% endblock %}
               </li>
               <li class="nav-item   ms-4">
                   {% block list2 %}
                 <a class="nav-link" href="#">patella</a>
                   {% endblock %}
               </li>


